body {
  background-image: url('./images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
}

.grid-container {
  display: grid;
  margin: 2em;
  grid-template-columns: repeat(3, 32%);
  grid-gap: 1.5em;

}

.title {
  color: var(--dg-shade-light);
  display:flex;
  justify-content:center;
  align-items:center;
}

.dg-logo {
  width: 10em;
  height: auto;
}

header {
  display: grid;
  grid-template-columns: 25% 50% 25%;
}
