body {
  background-image: url('./images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
}

.grid-container {
  display: grid;
  margin: 2em;
  grid-template-columns: repeat(3, 32%);
  grid-gap: 1.5em;

}

@media (max-width: 1000px) {
  .grid-container {
    grid-template-columns: 1fr; 
  }
}

.title {
  color: var(--dg-shade-light);
  display:flex;
  justify-content:center;
  align-items:center;
}

.dg-logo {
  width: 10em;
  height: auto;
}

header {
  display: grid;
  margin: 2em;
  grid-template-columns: 25% 50% 25%;
}

@media( max-width: 1000px ){
  header {
    grid-template-columns: 50% 50%;
  }
  .title {
    justify-content: flex-end; 
  }
  h1 {
    font-size: 35px 
  }
}
